<aside class="sidebar hidden" id="sidebar" data-pagefind-ignore>
    <div class="sidebar-logo">
      <a class="header-link" href="/">
          <img src="/../assets/images/logo.svg" alt="logo" />
      </a>
    </div>

    <section class="sidebar-container">
        <button class="close-btn icon" id="close-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            <span>Close</span>
        </button>
        <div class="sidebar-content">
            {% set navPages = collections.all | eleventyNavigation %}

            {% macro renderNavListItem(entry) -%}
            {% if entry.children.length %}
            <li>
                <details
                    {%- for child in entry.children %}
                    {% if child.parent == entry.title and child.url == page.url %}
                    class="active"
                    open
                    {% endif %}
                    {% endfor %}
                >
                    <summary>{{ entry.title }}</summary>
                    <ul class="child-list" role="list">
                        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
                    </ul>
                </details>
            </li>
            {% else %}
            <li>
                <a href="{{ entry.url }}"{% if entry.url == page.url %} class="active" {% endif %}>{{ entry.title }}</a>
            </li>
            {%- endif -%}
            {%- endmacro %}

            <ul class="nav-list" role="list">
                {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
            </ul>

        </div>
    </section>
    <footer class="sidebar-footer">
        {{ site.footer }} {{ site.authorName }} {% year %}
    </footer>

</aside>
