#hits {
  height: calc(100vh - 72px);
  position: fixed;
  top: 72px;
  overflow-y: auto;
  background-color: var(--search-input-background);
  width: 100%;
}

#hits > div {
  padding: 0 24px;
}

.search-box {
  display: flex;
  width: 100%;
  border-color: var(--search-input-background);
  background-color: var(--search-input-background);
  border: none;
  border-bottom: 1px solid var(--border);
  height: 72px;
}

.search-box input {
  border-color: var(--search-input-background);
  border: none !important;
  border-bottom: 1px solid var(--border);
  font-size: 18px;
  height: 71px !important;
}

.ais-SearchBox {
  position: relative;
  flex: 0.8;
}

.close-modal--btn {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-left: 1px solid var(--border);
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.6;
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
  position: absolute;
  top: 24px;
  cursor: pointer;
  opacity: 0.6;
}

.ais-SearchBox-submit svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.ais-SearchBox-reset svg {
  fill: currentColor;
  width: 10px;
  height: 10px;
}

.ais-SearchBox-submit {
  left: 16px
}

.ais-SearchBox-reset {
  right: 16px;
}

.search-result {
  padding: 0;
  margin-top: 24px;
}

.search-result hr {
  margin: 46px 0;
  opacity: 0.3
}

@media screen and (min-width: 640px) {
  .ais-SearchBox {
    flex: 0.9;
  }

  .close-modal--btn {
    flex: 0.1;
  }
}

@media screen and (min-width: 992px) {
  #hits {
    height: calc(780px - 72px);
    position: fixed;
  }

  #hits > div {
    padding: 0 48px;
  }

  .search-container {
    height: 780px;
  }

  .search-box {
    justify-content: center;
  }

  .ais-SearchBox-submit, .ais-SearchBox-reset {
    top: 16px;
  }

  .ais-SearchBox {
    flex: 0.8;
  }

  .close-modal--btn {
    justify-content: flex-end;
  }
}
