<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
      element: "#search",
      showImages: false,
      debounceTimeoutMs: 500
    });
  });
</script>

<!--pagefind UI-->
<script>
  const searchModal = document.querySelector('#search-modal');
  const searchModalContainer = document.querySelector('#search-container');
  const closeModalBtn = document.querySelector('#close-modal-btn');
  const searchBtn = document.querySelector('#search-btn');

  const closeEmptyModal = (e) => {
    const pagefindInput = document.querySelector('.pagefind-ui__search-input');
    if(pagefindInput) {
      if(!pagefindInput.value ) {
        if (pagefindInput === e.target || pagefindInput.contains(e.target)) return;
        searchModal.classList.remove('show-modal');
      }
    }
  }

  const closeDesktopModal = (e) => {
    const pagefindInput = document.querySelector('.pagefind-ui__search-input');
    if(isDesktop && pagefindInput) {
      if(pagefindInput.value ) {
        if (searchModalContainer === e.target || searchModalContainer.contains(e.target)) return;
        searchModal.classList.remove('show-modal');
      }
    }
  }

  searchModal.addEventListener('click', (e) => {
    closeEmptyModal(e);
    closeDesktopModal(e)
  });

  const autofocusInput = () => {
    const pagefindInput = document.querySelector('.pagefind-ui__search-input');
    if (pagefindInput) {
      pagefindInput.focus();
    }
  };

  const handleSearchModal = () => {
    searchModal.classList.add('show-modal');
    autofocusInput()
  };
  searchBtn.addEventListener('click', handleSearchModal);


  if(closeModalBtn) {
    closeModalBtn.addEventListener('click', () => {
      searchModal.classList.remove('show-modal');
    });
  }


</script>
