name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '14', '16' ]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      
      - name: Start Services
        run: npm run test:services:start

      - name: Install Dependencies  
        run: npm install
        
      - name: Test Keyv
        run: npm test

      - name: Test Storage Adapters
        run: npm run test:full