name: bun

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  bun-test:
    runs-on: ubuntu-latest
    name: bun
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Start Services
        run: pnpm test:services:start

      - name: Install Dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Run Keyv Tests with Bun
        working-directory: packages/keyv
        run: bun run vitest run --coverage
