name: codecov

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Node 22
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install pnpm
        run: npm install -g pnpm

      - name: Start Services
        run: pnpm test:services:start

      - name: Install Dependencies  
        run: pnpm install

      - name: Approve Builds
        run: pnpm approve-builds

      - name: Build
        run: pnpm build
        
      - name: Test Packages
        run: pnpm test

      - name: Code Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_KEY }}
          verbose: true