name: codecov

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Node 22
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - name: Install pnpm
        run: npm install -g pnpm

      - name: Start Services
        run: pnpm test:services:start

      - name: Install Dependencies  
        run: pnpm install

      - name: Approve Builds
        run: pnpm approve-builds

      - name: Build
        run: pnpm build
        
      - name: Test Packages
        run: pnpm test

      - name: Code Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_KEY }}
          verbose: true
          files: ./packages/compress-brotli/coverage/lcov.info, \
           ./packages/compress-gzip/coverage/lcov.info, \
           ./packages/compress-lz4/coverage/lcov.info, \
           ./packages/etcd/coverage/lcov.info, \
           ./packages/keyv/coverage/lcov.info, \
           ./packages/memcache/coverage/lcov.info, \
           ./packages/mongo/coverage/lcov.info, \
           ./packages/mysql/coverage/lcov.info, \
           ./packages/postgres/coverage/lcov.info, \
           ./packages/redis/coverage/lcov.info, \
           ./packages/serialize/coverage/lcov.info, \
           ./packages/sqlite/coverage/lcov.info, \
           ./packages/test-suite/coverage/lcov.info, \
           ./packages/valkey/coverage/lcov.info, \
           ./packages/dynamo/coverage/lcov.info, \
           ./packages/bigmap/coverage/lcov.info